row div {
  border: 1px solid blue;
}

/* The container <div> - needed to position the dropdown content */
/*.dropdown {
    position: relative;
    display: inline-block;
}
*/
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
    width: 100px;
}

.dropdown-content input {
    width: 30px;
    display: inline-block;
}

.checkout {
  position: relative;
  text-align: right;
}

.price {
  margin-left: 20px;
  margin-right: 10px;
}

.item-info {
  display: inline-block;
}

.item-price {
  width: 145px;
  display: inline-block;
}

.item-add {
  display: inline-block;
}

.item-desc {
  margin-top: 50px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
